@import "resources";

.template {
  margin: 20px;
  background: #eee;
  font-size: 1.4rem;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
  }

  h2 {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    font-size: 2rem;
  }

  ul {
    @include mq("md") {
      overflow: hidden;
      margin: 0 -10px;
      list-style-type: none;
      padding: 0;
    }
  }

  li {
    margin-top: 20px;

    @include mq("md") {
      float: left;
      width: (4 / 12) * 100%;
      padding: 0 10px;

      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }

  a {
    display: block;
    padding: 15px;
    text-decoration: none;
    background: #fff;
    color: #111;
    line-height: 1;

    &:hover {
      background: $color-gray-1;
      color: #000;
    }
  }
}
