section#about.about(data-about)
  .banner
    .item.img-banner
      img(src="./../images/upload/banner-1-m.jpg", alt="Banner Ventures")
    .item.content
      .wrapper
        .title
          h2.slogan Starting, with You
          h2.slogan Growing with You
          h2.slogan Scaling with You.
        .explore
          button.btn-page.touch(type='submit') GET IN TOUCH
          a.link-page.explore-link(href="#") Explore
  .purpose#purpose
    .wrapper
      h6.title OUR PURPOSE
      p.para  U Ventures was founded with a primary purpose, to ligthen accounting load of SMEs so that they can grow, scale and soar.By offering quality service with scalable pricing models, U Ventures strive to offer solutions to companies that work on all levels
      button.btn-page(type='button') MORE ABOUT US
