footer.footer(data-footer)
  .container
    .inner
      .ft-group
        .row
          .col-md-6.col-lg-2.item
            a.logo-ft(href='#')
              img(src="./../images/logo-white.png", alt="Logo Ventures")
          .col-md-6.col-lg-4.item.nav-footer
            +links-footer([
              { title: 'Incorportation'},
              { title: 'Account Services'},
              { title: 'Taxation'},
              { title: 'Training'},
              { title: 'Corporate Secretarial Services'},
              { title: 'Audit'}
            ])
          .col-md-6.col-lg-3.item
            h5.company uventurespte.ltd.
            p 6001 Beach Road#22-01
            p Golden Mile Tower Singapore 199589
          .col-md-6.col-lg-3.item.via
            p Tel: (65) 67358135
            p Fax: (65) 62960363
            +link('info@uventures.com.sg', href='mailto:info@uventures.com.sg')
