header.header(data-header)
  .container
    .inner
      +link('Logo', 'index.html').logo
        img(src="./../images/logo.png", alt="")
      .hamburger
        .line
        .line
        .line
      nav.menu
        +nav([
          { title: 'Home', href: `/index.html` },
          { title: 'Services', href: `/services.html` },
          { title: 'Pricing', href: `/pricing.html` },
          { title: 'Blog', href: `/blog.html` },
          { title: 'FAQ', href: `/faq.html` },
          { title: 'Contact', href: `/contact.html` },
        ])
        .search
          button.btn-search(type='button')
            img(src="./../images/icon-search.png", alt="search")
            input(type="text" value='' placeholder="Search" data-search-mobile)
        .contact
          button.btn-page(type='button') Contact us
  .input-search
    input(type="text" placeholder='Search' value='' data-search-desktop)
