section#insights.block-section.blog-block(data-insights)
  .container
    .title-section
      h3 Our
      h2 Insights.
    .main
      +item-blog([
        { href: './blog.html', srcImage: './../images/upload/insight-1.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'},
        { href: './blog.html', srcImage: './../images/upload/insight-2.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'},
        { href: './blog.html', srcImage: './../images/upload/insight-3.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'}
      ])
    .see-all
      button.btn-page(type='button') See all
        i.fa.fa-long-arrow-right
