section#philosophy.block-section.philosophy(data-philosophy)
  .container
    .title-section
      h3 Our
      h2 Philosophy.
    .main
      .item-philo
        .row
          .col-md-6.image
            .space-white
            img(src="./../images/upload/home-1.jpg", alt="automation")
          .col-md-6.content
            .wrapper
              .icon-phi
                img(src="./../images/icon-stick.png", alt="stick")
              h4.title The Philosophy of Automation
              p Your team's time is valuable, if a task must be repeated it should be automated, if it requires monitoring it should be scheduled in, so that you can focus on your busines.
      .item-philo
        .row.flex-row-reverse
          .col-md-6.image.flex-row-reverse
            .space-white
            img(src="./../images/upload/home-2.jpg", alt="Money")
          .col-md-6.content
            .wrapper
              .icon-phi
                img(src="./../images/icon-money.png", alt="money")
              h4.title Scale your Business Faster, Manager your Headcount Better
              p With cloud-based accounting, you can manage your hiring and cashflow. With outsoured solutions, you only manage KPIs and nor HR.
      .item-philo
        .row
          .col-md-6.image
            .space-white
            img(src="./../images/upload/home-3.jpg", alt="Admin")
          .col-md-6.content
            .wrapper
              .icon-phi
                img(src="./../images/icon-two-circle.png", alt="two-circle")
              h4.title A Transformational Tool Instead of an Admin Overhead
              p Outsouring has become a very acceptable and advantageous strategy to drastically reduce costs or quickly add on capabilities. Transform your costs into capabilities with us.
