.scroll-to-section(data-scroll-section isActive=true)
  ul
    li.point(name='about')
      .tag-section
        h6.title-tag ABOUT
    li.point(name='philosophy')
      .tag-section
        h6.title-tag OUR PHILOSOPHY
    li.point(name='services')
      .tag-section
        h6.title-tag OUR SERVICES
    li.point(name='insights')
      .tag-section
        h6.title-tag OUR INSIGHTS
  .mouse
    .mouse-wheel
      img(src="./../images/wheel.png", alt="mouse-wheel")
