section#services.block-section.services(data-services)
  .container
    .title-section
      h3 Venturing with You
      h2 Our Services
    .main
      .row
        .col-md-4.item
          .image
          .services-info
            h4.title Starting, with You
            strong.startup (Start-Up)
            p As a start-up stabilising is you focus. Let us take care of the details so that you can take care of the doing
            .learn-more
              a.link-page(href="#") Learn More
        .col-md-4.item
          .image
          .services-info
            h4.title Growing, with You
            strong.startup (SME)
            p You have found your niche, and your business pipeline is solid. Our team will tidy up your accounts so that every dollar your company makes is the best dollar possible.
            .learn-more
              a.link-page(href="#") Learn More
        .col-md-4.item
          .image
          .services-info
            h4.title Scaling, with You
            strong.startup (Listing)
            p When seeking investors to scale, tour books are will be the deciding factor in this phase of business. Tap into our experience and give your business the best chance to scale beyond.
            .learn-more
              a.link-page(href="#") Learn More
      .see-all-services
        button.btn-page(type='button') See all services
