mixin item-services(items = [])
  .row
    each item, key in items
      - let { icon, title, content } = item
      .col-lg-6.item
        .icon-item
          span(class=icon)
        .infor-item
          h3.title=title
          p.content=content
