mixin item-blog(items = [])
  each item, key in items
    - let { href, srcImage, datePost, title, content } = item
    a.blog-item(href=href)
      .image
        img(src=srcImage, alt="blogs")
      .content
        span.date(data-date-posts)=datePost
        h4.blog-title=title
        p=content
