.about {
  padding: 40px 0px 100px 0;
  .item {
  }
  .slogan-mobile {
    display: none;
  }
  .banner {
    display: flex;
  }
  .content {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    .wrapper {
      .title {
        .slogan {
          font-size: 35px;
          font-weight: 300;
        }
      }
      .explore {
        margin-top: 20px;
        .touch {
          margin-right: 20px;
        }
        a {
          color: $color-black-1;
        }
        a:hover {
          color: $color-brown-1;
        }
      }
    }
  }
  .purpose {
    padding-top: 80px;
    .wrapper {
      text-align: center;
      width: 40%;
      margin: auto;
    }
    .title {
      letter-spacing: 2px;
      font-size: 13px;
      color: $color-brown-1;
    }
    .para {
      font-family: 'Miller-Display';
      margin: 30px 0;
      font-size: 20px;
    }
  }
}

@include mq('sm', 'max') {

  .about {
    .item {
    }
    .banner {
      flex-direction: column-reverse;
      .img-banner {
        img {
          width: 100%;
        }
      }
    }
    .content {
      margin-bottom: 30px;
      padding: 0;
      justify-content: center;
    }
    .purpose {
      .wrapper {
        width: 100%;
      }
    }
  }

}

@media screen and (min-width:768px) and (max-width:992px) {

  .about {
    .banner {
      justify-content: center;
      align-items: center;
      .img-banner {
        width: 70%;
        img {
          width: 100%;
        }
      }
    }
    .content {
      padding-left: 50px;
    }
    .purpose {
      .wrapper {
        width: 60%;
      }
    }
  }

}
