.accor {
  margin: 30px auto;
  .list-accor {
    padding: 0;
    border: 1px solid $color-gray-1;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    overflow: hidden;
    .item {
      border-bottom: 1px solid $color-gray-1;
      &:last-child {
        border: none;
      }
    }
    .question {
      position: relative;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      &-content {
        text-transform: uppercase;
        margin: 0;
      }
      .hide-answer {
        position: absolute;
        top: 30%;
        right: 2%;
        width: 15px;
        height: 15px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        .line {
          position: absolute;
          width: 100%;
          height: 2px;
          transition: 0.5s;
          &:first-child {
            top: 40%;
          }
          &:last-child {
            transform: rotate(90deg);
            top: 42%;
          }
        }
      }
      .show-answer {
        .line {
          background: black !important;
          &:first-child {
            animation: lineOne 0.5s 1 ease;
            top: 45%;
            transform: rotate(-45deg);
          }
          &:last-child {
            animation: lineTwo 0.5s 1 ease;
            top: 45%;
            transform: rotate(45deg);
          }
        }
      }
    }
    .answer {
      display: none;
      padding: 20px;
      .question-answer {
        font-size: 16px;
      }
    }
  }
}


@keyframes lineOne {
  from { transform: rotate(180deg) }
  to { transform:  rotate(-45deg) }
}

@keyframes lineTwo {
  from { transform: rotate(-90deg) }
  to { transform:  rotate(45deg) }
}
