.blog-block {
  background: $color-white-1;
}
.blog-wrapper {
  width: 80%;
  margin: auto;
}
.blog-item {
  display: flex;
  margin: 50px 0;
  color: $color-black-1;
  transition: 0.5s;
  &:hover {
    color: $color-black-1;
    background: $color-gray-2;
    .image {
      img {
        transform: scale(1.1);
      }
    }
  }
  .image {
    width: 70%;
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.5s;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    .date{
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 600;
      color: $color-brown-1;
    }
    .blog-title {
      font-size: 25px;
      line-height: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}
.see-all {
  margin-top: 40px;
  text-align: center;
}
.pagination {
  margin-top: 80px;
  .list-pagi {
    text-align: center;
    li {
      display: inline-block;
      margin-right: 10px;
      .btn-pagi {
        width: 40px;
        height: 40px;
        border: 1px solid $color-grey-2;
        border-radius: 50%;
        outline: none;
        background: $color-white-1;
        color: $color-grey-2;
        transition: 0.5s;
        &:hover {
          background: $color-brown-1;
          color: $color-white-1;
        }
      }
    }
  }
}

.btn-pagi-active {
  background: $color-brown-1 !important;
  color: $color-white-1 !important;
}

@include mq('lg', 'max') {
  .blog-wrapper {
    width: 90%;
  }
  .blog-item {
    display: block;
    margin: 80px 0;
    .image {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .blog-wrapper {
    width: 90%;
  }
}
