.contact {
  .main {
    margin-top: 30px;
  }
  .item {
    margin-top: 40px;
    &-title {
      .title {
        font-size: 40px;
        font-weight: 300;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .findus {
    .infor-findus {
      display: flex;
      padding: 20px 0;
      .address, .contact-info {
        flex: 50%;
      }
      .address {
        &-title {
          font-size: 24px;
          font-weight: 300;
          margin: 0;
        }
      }
      .contact-info {
        padding-left: 40px;
        strong {
          display: block;
          font-size: 17px;
        }
        a {
          color: $color-brown-1;
        }
        .openrating-hours {
          margin-top: 20px;
        }
      }
    }
  }
  .get-infor {
    padding: 0 30px;
  }
  &-form {
    .form-group {
      margin-top: 30px;
    }
    .name-input {
      display: block;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .input {
      width: 100%;
      height: 50px;
      font-size: 18px;
    }
    .input-ta {
      height: 150px;
      margin-bottom: 20px;
    }
  }
}

@include mq('sm', 'max') {
  .address-title {
    font-size: 22px !important;
  }
  strong {
    font-size: 15px !important;
  }
}
