.faq {
  width: 70%;
  margin: auto;
}

.faq-block {
  padding: 40px 0;
}

@include mq('sm', 'max') {
  .faq {
    width: 90% !important;
  }
}

@include mq('lg', 'max') {
  .faq {
    width: 80%;
  }
}
