.footer {
  padding: 100px 0;
  background: $color-black-1;
  color: $color-white-1;
  font-size: 16px;
  .inner {
    width: 80%;
    margin: auto;
  }
  .company {
    text-transform: uppercase;
    font: {
      size: 18px;
      weight: 300;
    };
  }
  .item {
    margin-top: 20px;
    ul {
      li {
        padding: 5px 20px;
        a {
          transition: 0.2s;
        }
        &:hover {
          a {
            color: $color-brown-1;
          }
        }
      }
    }
  }
  .item:first-child {
    margin: 0;
  }
  .via {
    a {
      color: $color-brown-1;
    }
  }
  .logo-ft {
    display: block;
  }
}

@include mq("sm","max") {
  .footer {
    font-size: 19px;
    .inner {
      width: 100%;
      margin: 0;
    }
    .item {
      ul {
        li {
          padding: 5px 0;
          a {
            font-style: italic;
          }
        }
      }
    }
    .company {
      font-size: 25px;
    }
  }
}

@include mq("md","min") {
  .footer {
    .item:last-child,
    .item:nth-child(3) {
      margin-top: 20px;
    }
    .item:last-child {
      padding: 0 30px;
    }
  }
}
