// Mobile First Menu
.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 20px 0;
  background: $color-white-1;
  .inner {
    width: 80%;
    margin: auto;
  }
  .logo {
    display: inline-block;
  }
  .menu {
    display: none;
    height: 100vh;
    margin-top: 20px;
    text-align: center;
    ul {
      li {
        padding: 8px;
        text-align: center;
        a {
          font-size: 18px;
          color: $color-black-1;
        }
      }
    }
  }

  .search {
    margin: 20px 0;
    .btn-search, input {
      background: none;
      border: none;
      outline: none;
    }
    input {
      margin-left: 5px;
    }
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 25px;
    height: 20px;
    float: right;
    margin-top: 20px;
    cursor: pointer;
    .line {
      width: 100%;
      height: 3px;
      background-color: #000;
      transition: all 0.5s;
    }
  }

  .input-search {
    display: none;
  }
}

@include mq('md', 'min') {
  .header {
    .inner {
      display: flex;
      justify-content: space-between;
    }
    .menu {
      position: relative;
      display: inline-block;
      height: auto;
      ul {
        li {
          display: inline-block;
          a {
            position: relative;
            &::after {
              content: '';
              position: absolute;
              bottom: -5%;
              left: 0;
              width: 0;
              height: 2px;
              background: $color-brown-1;
              transition: all 0.5s;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
      .contact {
        display: none;
      }
    }
    .search {
      position: absolute;
      top: -15%;
      right: -10%;
      input {
        display: none;
      }
    }
    .hamburger {
      display: none;
    }
    .input-search {
      display: none;
      width: 90%;
      margin: auto;
      margin-top: 10px;
      border: 1px solid $color-brown-1;
      border-radius: 50px;
      box-shadow: 0 0 10px lightgrey;
      text-align: center;
      // transition: all 1s;
      input {
        width: 70%;
        height: 50px;
        border:none;
        outline: none;
        font-size: 18px;
      }
    }
  }
}

.active-menu {
  &::after {
    width: 100% !important;
  }
}

.ef-op {
  position: absolute;
  top: 40%;
}

.ef-op:first-child {
  transform: rotate(45deg);
}
.ef-op:nth-child(2) {
  display: none;
}
.ef-op:last-child {
  transform: rotate(-45deg);
}

.search-show {
  display: block !important;
  animation: SearchShow 1s 1
}

@keyframes SearchShow {
  from { transform: translateX(-5000px)}
}
