.philosophy {
  .main {
    .item-philo {
      margin-top: 90px;
      background: $color-white-1;
      &:first-child {
        margin-top: 40px;
      }
    }
    .image {
      display: flex;
      .space-white {
        display: inline-block;
        width: 50px;
        height: 100%;
      }
      img {
        width: calc(100% - 50px);
        vertical-align: top;
      }
    }
    .content {
      display: flex;
      justify-content: center;
      .wrapper {
        width: 70%;
        margin: auto;
        padding: 30px 0;
      }
      .icon-phi {
        margin-bottom: 20px;
      }
      .title {
        font-size: 40px;
        line-height: 50px;
      }
      p {
        margin-top: 20px;
        font-size: 18px;
      }
    }
  }
}

@include mq('sm', 'max') {

  .philosophy {
    .main {
      .image {
        img {
          width: 100%;
          vertical-align: top;
        }
      }
      .content {
        .wrapper {
          width: 90%;
        }
        .title {
          font-size: 25px;
          line-height: 40px;
        }
      }
    }
  }


}

@media screen and (min-width:768px) and (max-width: 992px) {

  .philosophy {
    .main {
      .content {
        .wrapper {
          width: 90%;
        }
        .title {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }

}
