.title-wrapper {
  width: 60%;
  margin: auto;
}

.pricing-wrapper {
  position: relative;
  z-index: 3;
  border-top: 1px solid $color-gray-3;
  margin-top: 100px;
  padding: 100px 0;
  .group-btn-price {
    position: absolute;
    z-index: 5;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    button {
      border: 1px solid $color-gray-3;
      border-bottom: none;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
      padding: 10px 20px;
      font-size: 18px;
      background: $color-gray-4;
      transition: 0.5s;
    }
    .active-price {
      background: $color-white-1;
    }
  }
  .group-price {
    width: 60%;
    margin: auto;

    /*------------------Business Input type radio ------------------*/
    .item {
      position: relative;
      padding: 50px 0px;
      .title-item {
        margin: 20px 0;
        text-align: center;
        .title {
          text-transform: uppercase;
          font-size: 17px;
        }
        p {
          font-size: 16px;
          color: $color-grey-1;
        }
      }
      .content-item {
        ul {
          text-align: center;
          list-style: none;
          margin: 0;
          padding: 0;
          overflow: auto;
        }
        li {
          display: inline-block;
          input[name='business']:checked,
          input[name='business']:not(:checked) {
              display: none;
          }

          input[name='business']:checked + label,
          input[name='business']:not(:checked) + label
          {
              position: relative;
              cursor: pointer;
              line-height: 20px;
              display: inline-block;
              font-size: 17px;
              border: 1px solid $color-grey-2;
              border-radius: 20px;
              padding: 8px 15px;
              margin: 0 15px 15px 0;
          }

          input[name='business']:checked ~ label{
            background: $color-brown-1;
            color: $color-white-1;
          }
        }
      }
    }
    /*--------------------------------------------------------------*/

    .item {
      ul {
        li {
          input[name="transactInCash"]:checked,
          input[name="transactInCash"]:not(:checked),
          input[name="payroll"]:checked,
          input[name="payroll"]:not(:checked) {
              position: absolute;
              left: -9999px;
          }
          input[name="transactInCash"]:checked + label,
          input[name="transactInCash"]:not(:checked) + label,
          input[name="payroll"]:checked + label,
          input[name="payroll"]:not(:checked) + label
          {
              position: relative;
              padding-left: 28px;
              cursor: pointer;
              line-height: 20px;
              display: inline-block;
              color: #666;
          }
          input[name="transactInCash"]:checked + label:before,
          input[name="transactInCash"]:not(:checked) + label:before,
          input[name="payroll"]:checked + label:before,
          input[name="payroll"]:not(:checked) + label:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 18px;
              height: 18px;
              border: 1px solid #ddd;
              border-radius: 100%;
              background: #fff;
          }
          input[name="transactInCash"]:checked + label:after,
          input[name="transactInCash"]:not(:checked) + label:after,
          input[name="payroll"]:checked + label:after,
          input[name="payroll"]:not(:checked) + label:after {
              content: '';
              width: 12px;
              height: 12px;
              background: $color-brown-1;
              position: absolute;
              top: 3px;
              left: 3px;
              border-radius: 100%;
              -webkit-transition: all 0.2s ease;
              transition: all 0.2s ease;
          }
          input[name="transactInCash"]:not(:checked) + label:after,
          input[name="payroll"]:not(:checked) + label:after {
              opacity: 0;
              -webkit-transform: scale(0);
              transform: scale(0);
          }
          input[name="transactInCash"]:checked + label:after,
          input[name="payroll"]:checked + label:after {
              opacity: 1;
              -webkit-transform: scale(1);
              transform: scale(1);
          }
        }
        .yes-no {
          margin-right: 30px;
        }
      }
    }

    .last-item {
      &:after {
        display: none;
      }
    }

    .item:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX((-50%));
      width: 50px;
      height: 2px;
      background: $color-brown-1;
    }

    .btn-submit {
      text-align: center;
    }
  }
}

@include mq('sm', 'max') {
  .group-price {
    width: 90% !important;
  }
  .title-wrapper {
    width: 90%;
  }
  .pricing-wrapper {
    padding: 0 0 100px 0;
    .group-btn-price {
      top: -32px;
      button {
        padding: 5px 10px;
        font-size: 14px;

      }
    }
  }
}


@media only screen and (min-width:768px) and (max-width: 992px) {
  .group-price {
    width: 70% !important;
  }
}
