.scroll-to-section {
  position: fixed;
  right: 5%;
  top: 30%;
  z-index: 1200;
  ul {
    li {
      position: relative;
      width: 7px;
      height: 7px;
      margin: 30px 10px;
      border-radius: 50%;
      background: $color-grey-2;
      cursor: pointer;
      &:hover {
        .tag-section {
          display: block;
        }
      }
    }
  }
  .active {
    width: 8px;
    height: 8px;
    border: 1px solid $color-brown-1;
    background: $color-white-1;
    .tag-section {
      display: block;
    }
  }
  .tag-section {
    display: none;
    top: -200%;
    right: 150%;
    position: absolute;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    padding: 5px;
    background: $color-brown-1;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    // transition: 1s;
    .title-tag {
      margin-left: 10px;
      line-height: 20px;
      color: $color-white-1;
    }
  }
  .mouse {
    width: 30px;
    height: 50px;
    background: url('./../images/mouse.png') no-repeat;
    &-wheel {
      text-align: center;
      animation: Mouse 1s infinite;
    }
  }
}

@keyframes Mouse {
  0%{transform: translateY(-2px)}
  50%{transform: translateY(1px)}
  100%{transform: translateY(-2px)}
}

@include mq('xl', 'max') {
  .scroll-to-section {
    display: none;
  }
}
