.services-block {
  font-size: 15px;
  .services-wrapper {
    width: 80%;
    margin: auto;
    .item {
      margin-top: 50px;
      padding: 20px;
      .icon-item {
        font-size: 4em;
      }
      .infor-item {
        .title {
          margin: 20px 0;
          font-size: 2em;
          font-weight: 300;
        }
        .content {
          font-size: 1.2em;
        }
      }
    }
  }
}

@include mq('sm', 'max') {
  .services-block {
    .services-wrapper {
      width: 100%;
    }
  }
}

@media only screen and (min-width:1024px) and (max-width:1199px)
 {
   .infor-item {
    .title {
      font-size: 1.75em !important;
    }
    .content {
      font-size: 0.95em !important;
    }
   }
 }
