.services {
  background: $color-white-1;
  .main {
    .item {
      margin-top: 30px;
      padding: 0 30px;
    }
    .image {
      width: 50px;
      height: 50px;
      border: 1px solid $color-brown-1;
      border-radius: 50%;
    }
    .see-all-services {
      display: none;
    }
  }
  &-info {
    margin-top: 25px;
    .title {
      margin: 0;
      color: $color-grey-1;
      font-size: 30px;
      font-weight: 300;
    }
    .startup {
      color: $color-grey-1;
    }
    p {
      height: 130px;
      overflow: hidden;
      margin: 20px 0;
      font-size: 17px;
    }
  }
}

@include mq('sm', 'max') {

  .services {
    .main {
      .see-all-services {
        margin-top: 50px;
        display: block;
        text-align: center;
      }
    }
  }

  p {
    height: auto !important;
  }

}
