a, a:hover {
  text-decoration: none;
  color: $color-white-1;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.block-section {
  background: $color-gray-2;
  padding: 100px 0;
}

.group-page {
  padding: 40px 0;
}

.btn-page {
  border: 1px solid $color-brown-1;
  border-radius: 30px;
  outline: none;
  padding: 10px 30px;
  text-transform: uppercase;
  background: none;
  transition: 0.5s;
  &:focus {
    outline: none;
  }
  &:hover {
    background: $color-brown-1;
    color: $color-white-1;
  }
}

.link-page {
  position: relative;
  padding: 5px;
  color: $color-brown-1;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    opacity: 0;
    background: $color-brown-1;
    transition: all 0.5s;
  }
  &:hover:after {
    width: 100%;
    opacity: 0.8;
  }
  &:hover {
    color: $color-brown-1;
  }
}

.title-page {
  text-align: center;
  h2 {
    color: $color-black-1;
    font-size: 70px;
  }
  p {
    font-size: 16px;
  }
}

.title-section {
  text-align: center;
  h3, h2 {
    margin: 0;
    color: $color-black-1;
  }
  h3 {
    font-size: 30px;
    font-weight: 300;
  }
  h2 {
    font-size: 70px;
    letter-spacing: 1px;
    line-height: 80px;
  }
}

// Parsley
.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-required,
.parsley-pattern,
.parsley-type {
  color: red;
}
@include mq('sm', 'max') {

  .title-section {
    h3 {
      font-size: 25px;
    }
    h2 {
      font-size: 50px;
    }
  }

}
