
@include font-face('AvenirLTStd-Black', '../fonts/AvenirLTStd-Black');
@include font-face('AvenirLTStd-Heavy', '../fonts/AvenirLTStd-Heavy');
@include font-face('AvenirLTStd-Medium', '../fonts/AvenirLTStd-Medium');
@include font-face('AvenirLTStd-Roman', '../fonts/AvenirLTStd-Roman');
@include font-face('Miller-Display', '../fonts/Miller-Display');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5wxqib');
  src:  url('../fonts/icomoon.eot?5wxqib#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5wxqib') format('truetype'),
    url('../fonts/icomoon.woff?5wxqib') format('woff'),
    url('../fonts/icomoon.svg?5wxqib#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-services:before {
  content: "\e900";
  color: #886e00;
}
.icon-audit:before {
  content: "\e901";
  color: #876e00;
}
.icon-corporate_secretary:before {
  content: "\e902";
  color: #876e00;
}
.icon-dollar .path1:before {
  content: "\e903";
  color: rgb(182, 178, 161);
}
.icon-dollar .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(64, 66, 70);
}
.icon-dollar .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(136, 110, 0);
}
.icon-incorporation:before {
  content: "\e906";
  color: #886e00;
}
.icon-leaf .path1:before {
  content: "\e907";
  color: rgb(136, 110, 0);
}
.icon-leaf .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(182, 178, 161);
}
.icon-logo:before {
  content: "\e909";
}
.icon-rings .path1:before {
  content: "\e90a";
  color: rgb(136, 110, 0);
}
.icon-rings .path2:before {
  content: "\e90b";
  margin-left: -1.720703125em;
  color: rgb(182, 178, 161);
}
.icon-rings .path3:before {
  content: "\e90c";
  margin-left: -1.720703125em;
  color: rgb(136, 110, 0);
}
.icon-rocket .path1:before {
  content: "\e90d";
  color: rgb(182, 178, 161);
}
.icon-rocket .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(136, 110, 0);
}
.icon-rocket .path3:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(136, 110, 0);
}
.icon-rocket .path4:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(136, 110, 0);
}
.icon-scale .path1:before {
  content: "\e911";
  color: rgb(136, 110, 0);
}
.icon-scale .path2:before {
  content: "\e912";
  margin-left: -1.30859375em;
  color: rgb(182, 178, 161);
}
.icon-search:before {
  content: "\e913";
}
.icon-taxation:before {
  content: "\e914";
  color: #886e00;
}
.icon-tick .path1:before {
  content: "\e915";
  color: rgb(136, 110, 0);
}
.icon-tick .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(182, 178, 161);
}
.icon-training:before {
  content: "\e917";
  color: #886e00;
}
