html {
  font-size: $rem;

  // Fix modernizr bug
  &.safari {
    background: none;
  }
}

body {
  font-size: $font-size-default;
  font-family: AvenirLTStd-Roman serif;
  font-weight: 300;
  &.freeze {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
  }
}

main {
  padding-top: 170px;
}
