extends _layouts/layout

block append vars
  - title = 'Blog'
  - menuIndex = 0

block container
  section.group-page.blog-block(data-blog data-ventures-page data-page='blog')
    .title-page
      h2 Our Blog
    .main
      .blog-wrapper
        +item-blog([
        { href: './blog.html', srcImage: './../images/upload/insight-1.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'},
        { href: './blog.html', srcImage: './../images/upload/insight-2.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'},
        { href: './blog.html', srcImage: './../images/upload/insight-3.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary'},
        { href: '#', srcImage: './../images/upload/insight-1.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'},
        { href: '#', srcImage: './../images/upload/insight-2.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'},
        { href: '#', srcImage: './../images/upload/insight-3.jpg', datePost: '26 feb', title: 'Starting a business in Singapore is easier than you think.', content: 'The European languages are members of the same family. Their separate existence is a myth. For sciencea, music, sport, etc, Europe uses the same vocabulary.'}
      ])
      .pagination
        ul.list-pagi(data-pagination-blog)
          li
            button.btn-pagi.btn-pagi-active(type='button') 1
          li
            button.btn-pagi(type='button') 2
          li
            button.btn-pagi(type='button') 3
          li
            button.btn-pagi(type='button') 4
          li
            button.btn-pagi(type='button') 5
