extends _layouts/layout

block append vars
  - title = 'Contact'
  - menuIndex = 0

block container
  section.group-page.contact(data-contact data-ventures-page data-page='contact')
    .container
      .title-page
        h2 Contact
      .main
        .row
          .col-lg-6.item.findus
            .item-title
              h3.title Find us
            .gogle-map(data-gmap style='height: 500px')
            .infor-findus
              .address
                h3.address-title U Ventures Pte.Ltd.
                h3.address-title 6001 Beach Road#22-01
                h3.address-title Golden Mile Tower
                h3.address-title Singapore 199589
              .contact-info
                .ct-info
                  strong Tel: (65)67358135
                  strong Fax: (65)62960363
                  +link('info@uventurescom.sg', href='mailto:info@uventurescom.sg')
                .openrating-hours
                  strong Openrating hours:
                  strong Mon-Friday 9.30am to 6pm
          .col-lg-6.item.get-infor
            .item-title
              h3.title Get in touch
              p Contact Our Consultants Today! We will answer your queries and provide you with our professional advice tailored to suit your needs.
            form.contact-form(action='' method='post' name='contact-form')
              fieldset
                .form-group
                  label.name-input(for="firstname") first name
                  input.input(type="text" name='name' value='' required data-parsley-required-message ="Please enter your full name!")
                .form-group
                  label.name-input(for="subject") subject
                  input.input(type="text" name='subject' value='' required data-parsley-required-message="Please enter subject!")
                .form-group
                  label.name-input(for="email" data-parsley-type="email") email
                  input.input(type="email" name='email' value='' required data-parsley-required-message ="Please enter email !")
                .form-group
                  label.name-input(for="phone") phone
                  input.input(type="tel" name='phone' value='' required data-parsley-pattern="/((09|03|07|08|05)+([0-9]{8}))/g" data-parsley-required-message ="Please enter phone number!")
                .form-group
                  label.name-input(for="yourmessage") your message
                  textarea.input.input-ta(name="message" value='' data-parsley-maxlength="42")
                button.btn-page(type='submit') submit
