extends _layouts/layout

block append vars
  - title = 'FAQ'
  - menuIndex = 0

block container
  section.group-page.faq-block(data-ventures-page data-page='faq')
    .title-page
      h2 FAQ
    .faq(data-faq)
      h3 why is proper accounting important?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 how do i spread my risk in business?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 i am facing cash flow problems, how do i resolve it?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 why should we choose debt financing over equity financing?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 what are the consequences of non compliance?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 for incorpotation of company, what information do i have to provide?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 do i need to pay u ventures?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 why should consumers look for professional mortgage brokers?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 what should i take note of when taking up a mortgage loan?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 what are the stages of processing a loan?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
      h3 what are the documents that i need to prepare for my mortgage loan applitation?
      p Proper accounting prodives you with up to date information for management use in decision making.If you are a company, you are required to prepare financial reports to be submitted to local authorities.When looking at financing options, for instances loans with banks or sourcing for investors, they will request for minimally the management report for their assessment.
