extends _layouts/layout

block append vars
  - title = 'Homepage'
  - menuIndex = 0

block container
  include _blocks/about
  include _blocks/philosophy
  include _blocks/services
  include _blocks/insights
  include _blocks/scroll-to-section
