extends _layouts/layout

block append vars
  - title = 'Pricing'
  - menuIndex = 0

block container
  section.group-page.pricing-block(data-pricing data-ventures-page data-page='pricing')
    .title-wrapper
      .title-page
        h2 Pricing.
        p Follow the 5 steps below to see how much the weekly service will be for your business. You will have on dedicated bookkeeper for your work, backed by an expert team.
    .main
      .pricing-wrapper
        .group-btn-price
          button.active-price(type='button' data-filter='.getaquote') Get a quote
          button(type='button' data-filter='.pricingplans') Pricing Plans
        .group-price
          form(action="" method='post').item-price.getaquote
            .item
              .title-item
                h4.title what's your business?
              .content-item
                ul.align-items-center
                  li
                    input(type="radio" name='business' data-business id='construction' value='construction' checked='checked')
                    label(for="construction") Construction
                  li
                    input(type="radio" name='business' data-business id='interior design' value='interior design')
                    label(for="interior design")  Interior Design
                  li
                    input(type="radio" name='business' data-business id='retailer' value='retailer')
                    label(for="retailer")  Retailer
                  li
                    input(type="radio" name='business' data-business id='f&b' value='f&b')
                    label(for="f&b")  F&amp;B
                  li
                    input(type="radio" name='business' data-business id='ecommerce' value='ecommerce')
                    label(for="ecommerce")  E-Commerce
                  li
                    input(type="radio" name='business' data-business id='manufacturing' value='manufacturing')
                    label(for="manufacturing")  Manufacturing
                  li
                    input(type="radio" name='business' data-business id='clinic' value='clinic')
                    label(for="clinic")  Clinic (without packages)
                  li
                    input(type="radio" name='business' data-business id='clinicbeauty' value='clinicbeauty')
                    label(for="clinicbeauty")  Clinic/Beauty (with packages)
                  li
                    input(type="radio" name='business' data-business id='other' value='other')
                    label(for="other")  Other
            .item
              .title-item
                h4.title what's the volume of cash transaction per month?
                p Please select your avegare weekly revenue excluding GST
              .content-item
                input(type="text" value='' name='cash' data-cash data-min='10' data-max='10000' data-from='4500')
            .item
              .title-item
                h4.title how many employees?
                p Please enter the number of staff currently on payroll
              .content-item
                input(type="text" value='' name='employees' data-employees data-min='0' data-max='50' data-from='5')
            .item
              .title-item
                h4.title page of bank statements
                p Select how many bank statements you have
              .content-item
                input(type="text" value='' name='bankstatements' data-bankstatements data-min='0' data-max='10' data-from='3')
            .item
              .title-item
                h4.title Do you transact in cash?
              .content-item
                ul
                  li.yes-no
                    input(type="radio" id='isTrueCash' name='transactInCash' value='true' data-transact-in-cash checked='checked')
                    label(for="isTrueCash") Yes
                  li.yes-no
                    input(type="radio" id='isFalseCash' name='transactInCash' value='false' data-transact-in-cash)
                    label(for="isFalseCash") No
            .item.last-item
              .title-item
                h4.title would you like us to process the payroll for you?
              .content-item
                ul
                  li.yes-no
                    input(type="radio" id='isTruePayRoll' name='payroll' value='true' data-payroll checked='checked')
                    label(for="isTruePayRoll") Yes
                  li.yes-no
                    input(type="radio" id='isFalsePayRoll' name='payroll' value='false' data-payroll)
                    label(for="isFalsePayRoll") No
            .btn-submit
              button.btn-page(type='submit' name='submitformpricing' data-submit-form-pricing) Submit
          .item-price.pricingplans
