extends _layouts/layout

block append vars
  - title = 'Services'
  - menuIndex = 0

block container
  section.group-page.services-block(data-services data-ventures-page data-page='services')
    .container
      .title-page
        h2 Our Services.
      .main
        .services-wrapper
          +item-services([
            { icon: 'icon-incorporation', title: 'Incorporation', content: 'Business looking to expand their business into Singapore would greatly benefit from working with a local expert familiar with the practices and legalities. Our team will serve as a single point of contact and take the most direct route towards getting your business incorporated. Local or Foreign, we are with You.'},
            { icon: 'icon-account-services', title: 'Account Services', content: 'Keep you fingers on the pulse of your business with monthly, quarterly and yearly management accounts. Inform your strategy and know your business better with accurate reports presented in and easy to understand format. Your decisions will grow your company, and we will grow with You.'},
            { icon: 'icon-taxation', title: 'Taxation', content: 'Maximize the benefits within your tax bracket by keeping abreast of the latest rules and regulations. Our services include personal tax, corporate tax and tax consulting. By planning well for your taxation, you give your business and even better chance at success.'},
            { icon: 'icon-training', title: 'Training', content: 'Should you have and executive supporting your accounting needs and have invested in our cloud-based accounting software, we also offer training courses to bring your team up to the task and increase productivity. From payroll to basic accounting functions, ensure your team is maximizing your investment by training them with us.'},
            { icon: 'icon-corporate_secretary', title: 'Corpotare Secretarial Services', content: 'Compliance can be a daunting task for new & existingbusiness owners. Focus on your core revenue generating activities and leave the nitty gritty details to those who are familiar and competent with it. We will take care of it for you, and with You.'},
            { icon: 'icon-audit', title: 'Audit', content: 'A statutory requirement for some companies and an internal system of check and balances for another, our experience auditors are on hand and on site to discover the financial health of your organization. Gain clarity and certainty with Uventures.'},
          ])
